
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="img" id="img" accept=".*">
		<img src=`${img}`/>
        <input type="submit" value="Send" />
    </form>
